" Navigate among tabs
nmap <C-k> gT
nmap <C-l> gt

" Navigate to Class file
nmap <leader>p :action GotoClass<CR>

" Navigate to file
nmap <leader>bm :action GotoFile<CR>

" Search
set hlsearch
set ignorecase
set showmode

" Set lines left to the margin
set scrolloff=3

